<div class="contact-container">

  <h2>Contacto</h2>

  <form [formGroup]="contactForm" (ngSubmit)="enviar()">

    <label>Nombre</label>
    <input type="text" formControlName="nombre">
    <div class="error-text" *ngIf="f.nombre.touched && f.nombre.invalid">
      Nombre inválido
    </div>

    <label>Email</label>
    <input type="email" formControlName="email">
    <div class="error-text" *ngIf="f.email.touched && f.email.invalid">
      Email inválido
    </div>

    <label>Asunto</label>
    <input type="text" formControlName="asunto">
    <div class="error-text" *ngIf="f.asunto.touched && f.asunto.invalid">
      Asunto inválido
    </div>

    <label>Mensaje</label>
    <textarea formControlName="mensaje"></textarea>
    <div class="error-text" *ngIf="f.mensaje.touched && f.mensaje.invalid">
      El mensaje es muy corto
    </div>

    <div class="buttons">
      <button type="submit" class="btn-submit">Enviar</button>
      <button type="button" class="btn-cancel" (click)="cancelar()">Cancelar</button>
    </div>

  </form>

</div>
